body
{
    font-family: 'Do Hyeon', sans-serif;
    background-color:#E9E905;
    overflow-x: hidden;
}
#wall-bg
{
    position: fixed;
    bottom:0px;
    z-index: -100;
}
.hugebox
{
    position: relative;
    text-align: center;
    margin: 0 auto;
    width: 800px;
    top: 60px;
}
@font-face
{
    font-family: "Cyberpunk Is Not Dead";
    src: url("/CIND.woff2") format("woff2");
}
.title
{
    color: black;
    font-family:"Cyberpunk Is Not Dead", sans-serif;
    font-size: 60px;
    font-weight: bold;
    text-shadow: 2px 2px 0 #b15cff;
}

.title::after{
    color:red;
    content: 'ACCESS DENIED ACCESS DENIED ACCESS DENIED ACCESS DENIED ACCESS DENIED';
    position: absolute;
    top: 0;
    left: 20px;
    text-shadow: -5px -2px 0 rgb(255, 0, 234);
    font-style: italic;
    background-color: #E9E905
    5px 2px 0 rgb(0, 255, 115) ;
    visibility: hidden;
   
}
.title:hover::after{
    animation: san 1s ; 
    animation-timing-function: steps(1, end);
}
.dnaarea
{
    position:relative;
    top: 25px;
    text-align: center;
    height: 450px;
    width: 250px;
}
.encryptodiv, .decryptodiv
{
    height: 200px;
    display : inline-block;
    margin-bottom: 15px;
}
.encryptotitle,.decryptotitle
{
    width: 20px;
    writing-mode:lr-tb;
    font-weight: bold;
    font-size: 40px;
    position: relative;
    right: 20px;
}
.textto
{
    backdrop-filter: blur(5px);
    font-family: 'Do Hyeon', sans-serif;
    position: relative;
    text-align: center;
    line-height: 25px;
    height: 180px;
    width: 400px;
    border: 0px;
    resize: none;
    background-color: rgba(0, 0, 0, 0.151);
    box-shadow: 0 2px 0 black;
    overflow-y: scroll;
    overflow-x: hidden;
    cursor: text;
}
 ::-webkit-scrollbar
 {
     background-color:rgba(0, 0, 0, 0.151);
 }
 ::-webkit-scrollbar-track
 {
    background-color:rgba(0, 0, 0, 0.151);
 }
 ::-webkit-scrollbar-thumb
 {
    width:16px;
    background-color:#555;
 }
.clickshit,.clickshit::after{
    font-family: 'Do Hyeon', sans-serif;
    height: 180px;
    width: 350px;
    position: relative;
    text-align: center;
    margin-left: 15px;
    font-size: 42px;
    color: rgb(255, 251, 251);
    background: linear-gradient(30deg,transparent 10%,rgb(255, 136, 0) 10% 95%, cyan 95%);
    box-shadow: 15px 0 0 cyan;
    border:0px;
    cursor: pointer;
}

.clickshit::after{
    content: "Tokyo 42";
    position: absolute;
    top: 24px;
    left: 0;
    text-shadow: -5px -2px 0 rgb(0, 183, 255),
    5px 2px 0 rgb(0, 255, 115) ;
    visibility: hidden;
   
}

.clickshit:hover::after{
    animation: san 1s ; 
    animation-timing-function: steps(1, end);
}

@keyframes san{
    0%{
     clip-path: inset(20% -5px  60%  0);
     transform: translate(-6px,5px);
     visibility: visible;
    }
    10%{
     clip-path: inset(50% -5px  30%  0);
     transform: translate(6px,-5px);
    }
    20%{
     clip-path: inset(20% -5px  60%  0);
     transform: translate(5px,0px);

     }
     30%{
         clip-path: inset(80% -5px  5%  0);
     transform: translate(-8px,5px);
     }
     40%{
         clip-path: inset(0 -5px  80%  0);
     transform: translate(-4px,-3px);

     }
     50%{
         clip-path: inset(50% -5px  30%  0);
     transform: translate(-6px,-5px);
     }
     60%{
         clip-path: inset(80% -5px  5%  0);
     transform: translate(-7px,5px);

     }
     70%{
         clip-path: inset(0 -5px  80%  0);
     transform: translate(3px,6px);
     }
     80%{
         clip-path: inset(50% -5px  30%  0);
     transform: translate(5px,5px);

     }
     90%{
         clip-path: inset(20% -5px  60%  0);
     transform: translate(6px,-5px);

     }
     100%{
         clip-path: inset(0 -5px  80%  0);
     transform: translate(1px,5px);

     }
}
.blackbuttomshit, .blacktopshit
{
    background-color: black;
    height: 50px;
    width: 9998px;
    position: fixed;
    left: 0px;
    z-index: -99;
}
.blacktopshit
{
    top: 0px;
}
.blackbuttomshit
{
    bottom: 0px;
}
.creditshit
{
    position: fixed;
    bottom: 60px;
    right: 0px;
}
